.avatars {
  display: flex;
  flex-grow: 1;
}

.avatars img {
    border-radius: 50%;
    height: 164px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 164px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.avatars h3 {
  font-size: 20px;
  text-align: center;
}

.avatars h5 {
  font-size: 13px;
  text-align: center;
}

.avatars > div {
  width: 400px;
  border: 1px solid #ddd;
  border-color: green;
}

.avatars picture {
  text-align: center;
}